body {
  font-family: Helvetica, Arial, Sans-Serif;
}

.ballot {
  display: table;
  border: 1px solid black;
}

.ballot .ballot-content {
  display: table-row-group;
}

.ballot .option {
  display: table-row;
}

.ballot .option.selected {
  background-color: blue;
}

.ballot .option .option-name, .ballot .option .option-box {
  font-size: 1.5em;
  display: table-cell;
  border: 1px solid black;
  padding: 1em;
}

.ballot .ballot-valid {
  display: table-caption;
  text-align: center;
  padding: 1em;
  caption-side: bottom;
}
